{% extends 'halaman/base.html' %}
{% load static %}

{% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg13.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">About Me</h1>
                <h4></h4>
            </div>"Every small step towards your goal is a significant stride in your journey to success."</h4>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="about-description text-center">
            <div class="row">
            </div>
        </div>
        <div class="about-team team-1">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Mahasiswi Teknik Informatika</h2>
                    <h5 class="description">Tentu, berikut adalah versi yang diperpanjang dan lebih menarik dalam bahasa Indonesia:

                        "Saya adalah seseorang yang selalu mencari tantangan baru dan peluang untuk dikembangkan. Saat ini, saya sedang menempuh pendidikan S1 di bidang Informatika di Universitas Muhammadiyah Kalimantan Timur. Saya memiliki minat yang mendalam dalam eksplorasi ide-ide inovatif dan memecahkan masalah kompleks di bidang teknologi. Perjalanan akademis saya telah membekali saya dengan keterampilan berharga dalam pengembangan perangkat lunak, desain antarmuka pengguna, dan analisis data. Saya didorong oleh rasa ingin tahu yang tak kenal lelah untuk belajar dan berkembang secara profesional, dengan tujuan memberikan kontribusi yang bermakna bagi perkembangan lanskap digital yang terus berkembang. Saya percaya bahwa ketekunan dan kreativitas memiliki kekuatan untuk mengubah ide menjadi solusi yang berdampak positif bagi masyarakat."</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <img class="img" src="{% static 'halaman/assets/img/faces/ara.jpg' %}" alt="Team Member 1">
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Ara</h4>
                            <h6 class="category text-muted">Informatics</h6>
                            <p class="card-description">
                                "Success is not the key to happiness. Happiness is the key to success. If you love what you are doing, you will be successful."
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tambahkan lebih banyak anggota tim di sini jika perlu -->
            </div>
        </div>
    </div>
</div>

{% endblock %}
