{% extends 'halaman/base.html' %}
{% load static %}

{% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg14.jpg' %}")>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">Contact Us</h1>
                    <h4>Please contact us if you want to know more about us</h4>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="contact-content">
        <div class="container">
            <h2 class="title">Send us a message</h2>
            <div class="row">
                <div class="col-12 col-rd-12">
                   <div class="col-md-4">
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">pin_drop</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">find us on location</h4>
                            <p> 
                               Bld Mihail Kogalniceanu, nr. 8,<br>
                               7642 Bucharest,<br>
                               Romania
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">phone</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Give us a ring</h4>
                            <p> Tiara Emilya <br>
                                +628 8778 12s66 2 <br>
                                Mon - Fri, 9:00-21:00
                            </p>
                        </div>
                    </div>
                </div> 

                <div class="col-md-4">
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">business_center</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Legal Information</h4>
                            <p> Creative Tim Ltd.<br>
                                VAT &middot; EN2348241<br>
                                IBAN &middot; EN8732ENGB2300099123<br>
                                Bank &middot; Bank 
                            </p>
                        </div>
                    </div>
                </div> 
            </div>
           </div>
        </div>
    </div>
</div>
{% endblock %}