{% extends 'dashboard/base.html' %}

{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card profile-card shadow-lg border-0">
                <div class="card-body text-center p-4">
                    <div class="profile-header bg-gradient-primary text-white p-4 rounded-top">
                        <img src="{% static 'halaman/assets/img/faces/ara.jpg' %}" alt="Foto Profil" class="rounded-circle mb-3 profile-picture">
                        <h2 class="card-title">Teknologi Informasi</h2>
                        <p class="card-subtitle">"Coding is not just code, it is a live thing to serve everyone!"</p>
                    </div>
                    <div class="profile-content mt-4">
                        <p class="lead">"Programming isn't about what you know; it's about what you can figure out. Experience is the name everyone gives to their mistakes. The function of good software is to make the complex appear to be simple. Code is like humor. When you have to explain it, it’s bad. Simplicity is the soul of efficiency."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .profile-card {
        border-radius: 15px;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .profile-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 0 30px rgba(0,0,0,0.2);
    }
    .profile-header {
        border-top-left-radius: 15px; 
        border-top-right-radius: 15px;
        background: linear-gradient(135deg, #8e2596 0%, #88a7dc 100%);
    }
    .profile-picture {
        width: 150px;
        height: 150px;
        border: 5px solid #fff; 
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    .profile-content {
        padding: 20px;
        color: #555;
    }
    .font-italic {
        color: #666;
    }
</style>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>                                                 
{% endblock %}
